header{
  height: 50px;
  background-color: rgb(150, 59, 59);
  position: fixed;
  width: 100%;
}
.liheader{
  display: inline;
}
.a_header{
  text-decoration: none;
  margin: 20px;
  margin-top: 30px;
  color: #000;
  width: 60px;
}
.a_header:hover{
  font-size: 17px;
  border-radius: 3px;
  background-color: rgb(150, 59, 59);
  color: white;
}
.details{
    display: flex;
    justify-content: center;
    text-align: center;
}
.details_container{
    display: flex;
    justify-content: center;
    align-content: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

/* *, *:before, *:after {
  box-sizing: inherit;
} */

.column {
  float: left;
  width: 32%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 0 10px 6px #6868685e;
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
footer{
  background:rgb(12, 12, 12);
  /* height: 220px; */
  width: 100%;
  font-family: "Open Sans";
  /* padding-top: 0px; */
  color: #ffff;
  margin-top: 100px;
}
#footer_name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 47vw;
    font-weight: bold;
    font-size: 20px;
    cursor: default;
}
#about{
    display: flex;
    list-style: none;
    justify-content: center;
}
#about li a{
    text-decoration: none;
    margin: 30px;
    color: #ffff;
}
#about li a:hover{
    font-size: 18px;
}
#socials{
    display: flex;
    list-style: none;
    justify-content: center;
    /* margin-top: -10px; */

}
#socials li a{
    margin-left: 30px;
    text-decoration: none;
    color: #ffff;
}
#socials li a:hover{
    font-size: 20px;
}