@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scrollbar-width: none;
}

/* Animations */
.fade-in {
    animation: fadeIn 1.5s ease-in-out;
}

.slide-up {
    animation: slideUp 1.5s ease-in-out;
}

.work-icon-animation {
    animation: bounce 2s linear infinite;
}

@keyframes bounce {

    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-10px);
    }

    40% {
        transform: translateY(-15px);
    }

    60% {
        transform: translateY(-15px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.keyfeature-icon-animation {
    animation: walk 2s linear infinite;
}

@keyframes walk {

    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-10px);
    }

    40% {
        transform: translateX(-15px);
    }

    60% {
        transform: translateX(-15px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0);
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(21px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.owner-name {
    font-size: x-large;
    font-weight: bold;
    margin-left: 20px;
}