#main_container{
    height: 500px;
}
header{
    height: 50px;
    background-color: rgb(150, 59, 59);
    position: fixed;
    width: 100%;
}
.liheader{
    display: inline;
}
.a_header{
    text-decoration: none;
    margin: 20px;
    margin-top: 30px;
    color: #000;
    width: 60px;
}
.a_header:hover{
    font-size: 17px;
    border-radius: 3px;
    background-color: rgb(150, 59, 59);
    color: white;
}
#link_container{
    border: 1px solid black;
    width: 20vw;
    height: 570px;
    display: flex;
    position: fixed;
    margin-top: 60px;
    /* margin-bottom: 50px; */
    margin-left: 20px;
    box-shadow: 0px 10px 20px 10px grey;

}
#content_container{
    margin-top: 60px;
    border: 3px solid red;
    width: 71%;
    height: 570px;
    float: right;
    /* position: fixed; */
    /* position: relative; */
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 0px 10px 20px 10px grey;
    overflow: scroll;
}
#heading{
    margin: 30px;
}
.description{
    margin: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 17px;

}
#content_container h2{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(247, 78, 11);
}
.upload_green{
    margin-left: 30px;
}
.upload_green_image_text{
    margin-left: 30px;

    font-weight: 400;

}
.sample-video-green{
    width: 19vw;
    margin-left: 5px;
    display: flex;
    margin-top: 100px;
    position: absolute;
}
.sample-video-unscreen{
    margin-top: 250px;
    width: 19vw;
    margin-left: 5px;
    border: 1px solid black;
    display: flex;
    /* margin-top: 200px; */
    position: absolute;
}
.sample-video-with-background{
    margin-top: 400px;
    width: 19vw;
    margin-left: 5px;
    display: flex;
    /* margin-top: 200px; */
    position: absolute;
}
.link{
    text-align: center;
    color: rgb(187, 14, 14);
    text-decoration: none;
}
li{
    list-style: none;
    margin-top: 20px;
}
footer{
    background:rgb(12, 12, 12);
    /* height: 220px; */
    width: 70%;
    font-family: "Open Sans";
    /* padding-top: 0px; */
    color: #ffff;
    margin-top: 20px;
    float: right;
}
#footer_name{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-left: 47vw; */
    font-weight: bold;
    font-size: 20px;
    cursor: default;
    text-align: center;
}
#about{
    display: flex;
    list-style: none;
    justify-content: center;
}
#about li a{
    text-decoration: none;
    margin: 30px;
    color: #ffff;
}
#about li a:hover{
    font-size: 18px;
}
#socials{
    display: flex;
    list-style: none;
    justify-content: center;
    /* margin-top: -10px; */

}
#socials li a{
    margin-left: 30px;
    text-decoration: none;
    color: #ffff;
}
#socials li a:hover{
    font-size: 20px;
}
.details{
    display: flex;
    justify-content: center;
    text-align: center;
}
.details_container{
    display: flex;
    justify-content: center;
    align-content: center;
}
